body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.login-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5c7cfa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4a67d4;
}

#error-message {
    color: red;
    margin-top: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.category {
    margin-bottom: 20px;
}

.category-title {
    font-size: 18px;
    background-color: #5c7cfa;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
}

.category-title:hover {
    background-color: #4a67d4;
}

.category-content {
    display: none;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

